Repository actionjacksonthegoat-debug/SeventySix: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

CI/CD Fixes
  SeventySix.Client/e2e/specs/authenticated/mfa-login.spec.ts
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CreatePermissionRequest/CreatePermissionRequestCommandHandler.cs
Due: server

Latest Packages
  SeventySix.Client/e2e/specs/public/oauth-login.spec.ts
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
Due: none

CodeQL updates
  SeventySix.Client/scripts/generate-openapi.mjs
  SeventySix.Server/SeventySix.Api/Registration/OpenTelemetryRegistration.cs
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CompleteRegistration/CompleteRegistrationCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Utilities/DuplicateKeyViolationHandler.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Services/EmailService.cs
Due: server

CodeQL Sanitizer Acceptance
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CompleteRegistration/CompleteRegistrationCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Utilities/DuplicateKeyViolationHandler.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Services/EmailService.cs
Due: server

CodeQL Updates
  .github/instructions/security.instructions.md
  SeventySix.Client/scripts/generate-openapi.mjs
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/RateLimitingService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CompleteRegistration/CompleteRegistrationCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Utilities/DuplicateKeyViolationHandler.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Services/EmailService.cs
Due: server

Reverted CodeQL C# for next commit diffs
  .github/workflows/codeql.yml
Due: none

E2E test cleanup
  SeventySix.Client/e2e/specs/public/oauth-login.spec.ts
Due: none

e2e cleanup
  SeventySix.Client/e2e/specs/public/login.spec.ts
Due: none

OAuth Redirect flows
  .github/instructions/security.instructions.md
  .vscode/settings.json
  SeventySix.Client/e2e/specs/public/login.spec.ts
  SeventySix.Server/SeventySix.Api/Controllers/V1/OAuthController.cs
  SeventySix.Server/SeventySix.Api/Infrastructure/OAuthRedirectValidator.cs
  SeventySix.Server/SeventySix.Api/Middleware/SmartHttpsRedirectionMiddleware.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/OAuthRedirectValidatorUnitTests.cs
Due: server

Redirect Validations and CodeQL support
  SeventySix.Server/SeventySix.Api/Controllers/V1/OAuthController.cs
  SeventySix.Server/SeventySix.Api/Middleware/SmartHttpsRedirectionMiddleware.cs
  docs/Startup-Instructions.md
  scripts/internal/check-prerequisites.ps1
  scripts/run-codeql-scan.ps1
Due: server

Aligning V4 CodeQL
  .github/workflows/codeql.yml
Due: none

Unassigned Variable cleanup
  SeventySix.Server/SeventySix.Analyzers/AssignmentNewlineAnalyzer.cs
  SeventySix.Server/SeventySix.Analyzers/Helpers/SyntaxHelpers.cs
Due: server

Code QL alert cleanup
  SeventySix.Client/scripts/generate-openapi.mjs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/AdminSeederServiceUnitTests.cs
Due: server

CI/CD Docs
  README.md
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-preferences-dialog.component.spec.ts
  docs/screenshots/ci-checks-passed.png
Due: none

Cleaned up Analysis Comment
  SeventySix.Client/src/app/shared/services/auth.service.spec.ts
Due: none

Cleaned up instruction files
  second-implementation-1.md
  second-implementation-2.md
  second-implementation-3.md
  second-implementation.md
Due: none

Cleaned up CodeQL comment
  SeventySix.Client/src/app/shared/services/auth.service.spec.ts
Due: none

Code QL Analysis Clean Up
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Server/SeventySix.Analyzers/ClosingParenSameLineAnalyzer.cs
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CompleteRegistration/CompleteRegistrationCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CreateUser/CreateUserCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Utilities/DuplicateKeyViolationHandler.cs
  SeventySix.Server/Tests/SeventySix.ArchitectureTests/SettingsPatternTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Commands/RefreshTokens/RefreshTokensCommandHandlerTests.cs
Due: server

Code QL scan cleanup
  SeventySix.Server/SeventySix.Domains/Logging/Repositories/LogRepository.cs
  SeventySix.Server/SeventySix.Shared/Persistence/AuditInterceptor.cs
  SeventySix.Server/Tests/SeventySix.ArchitectureTests/PrimaryConstructorTests.cs
  SeventySix.Server/Tests/SeventySix.ArchitectureTests/ProductionConfigTests.cs
  SeventySix.Server/Tests/SeventySix.ArchitectureTests/SealedServiceTests.cs
  SeventySix.Server/Tests/SeventySix.ArchitectureTests/ServiceFacadeTests.cs
  SeventySix.Server/Tests/SeventySix.ArchitectureTests/TransactionUsageTests.cs
  SeventySix.Server/Tests/SeventySix.TestUtilities/TestBases/SeededPostgreSqlFixture.cs
  SeventySix.Server/Tests/SeventySix.TestUtilities/TestBases/SharedContainerManager.cs
Due: server

Removed Cookie Consent as not required
  README.md
  SeventySix.Client/e2e/fixtures/config.constant.ts
  SeventySix.Client/e2e/specs/public/cookie-consent.spec.ts
  SeventySix.Client/e2e/specs/public/legal-pages.spec.ts
  SeventySix.Client/src/app/app.html
  SeventySix.Client/src/app/app.ts
  SeventySix.Client/src/app/domains/home/pages/privacy-policy/privacy-policy.page.html
  SeventySix.Client/src/app/domains/home/pages/privacy-policy/privacy-policy.page.ts
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-consent-banner.component.html
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-consent-banner.component.scss
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-consent-banner.component.spec.ts
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-consent-banner.component.ts
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-preferences-dialog.component.html
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-preferences-dialog.component.scss
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-preferences-dialog.component.spec.ts
  SeventySix.Client/src/app/shared/components/cookie-consent/cookie-preferences-dialog.component.ts
  SeventySix.Client/src/app/shared/components/index.ts
  SeventySix.Client/src/app/shared/components/layout/footer/footer.component.html
  SeventySix.Client/src/app/shared/components/layout/footer/footer.component.ts
  SeventySix.Client/src/app/shared/models/cookie-consent-status.model.ts
  SeventySix.Client/src/app/shared/models/cookie-consent.model.ts
  SeventySix.Client/src/app/shared/services/auth.service.spec.ts
  SeventySix.Client/src/app/shared/services/auth.service.ts
  SeventySix.Client/src/app/shared/services/cookie-consent.service.spec.ts
  SeventySix.Client/src/app/shared/services/cookie-consent.service.ts
Due: client

Code Coverage and local Code QL updates
  .github/codeql/codeql-config-create.yml
  .github/codeql/codeql-config.yml
  .github/codeql/csharp-sanitizer-models/codeql-pack.yml
  .github/codeql/csharp-sanitizer-models/csharp-sanitizer-models.yml
  .github/workflows/ci.yml
  SeventySix.Client/nginx.conf
  SeventySix.Client/package.json
  SeventySix.Client/scripts/generate-openapi.mjs
  SeventySix.Client/src/app/app.config.ts
  SeventySix.Client/src/app/shared/constants/http.constants.ts
  SeventySix.Client/src/app/shared/interceptors/xsrf-protection.spec.ts
  SeventySix.Server/SeventySix.Api/Controllers/V1/OAuthController.cs
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/RateLimitingService.cs
  SeventySix.Server/SeventySix.Api/Middleware/SmartHttpsRedirectionMiddleware.cs
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CompleteRegistration/CompleteRegistrationCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Queries/CheckEmailExists/CheckEmailExistsQueryHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Queries/CheckUsernameExists/CheckUsernameExistsQueryHandler.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Services/EmailService.cs
  SeventySix.Server/SeventySix.Domains/Logging/Repositories/LogRepository.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/AltchaControllerRateLimitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/AuthRateLimitingTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/LogsControllerRateLimitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Repositories/AuthRepositoryTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/TokenServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/ApiTracking/Entities/ThirdPartyApiRequestTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/ElectronicNotifications/Emails/Commands/MarkEmailSentCommandHandlerTests.cs
  docs/Startup-Instructions.md
  scripts/internal/collect-secrets.ps1
  scripts/run-codeql-scan.ps1
Due: server, client

Client code coverage updates
  .github/workflows/ci.yml
  .vscode/settings.json
  SeventySix.Client/e2e/fixtures/page-text.constant.ts
  SeventySix.Client/e2e/fixtures/selectors.constant.ts
  SeventySix.Client/e2e/specs/admin/log-management.spec.ts
  SeventySix.Client/e2e/specs/authenticated/request-permissions.spec.ts
  SeventySix.Client/src/app/domains/account/pages/profile/profile.html
  SeventySix.Client/src/app/domains/account/pages/request-permissions/request-permissions.html
  SeventySix.Client/src/app/domains/admin/logs/components/log-list/log-list.spec.ts
  SeventySix.Client/src/app/domains/admin/logs/services/log-management.service.spec.ts
  SeventySix.Client/src/app/domains/admin/pages/admin-dashboard/admin-dashboard.html
  SeventySix.Client/src/app/domains/admin/users/components/user-list/user-list.spec.ts
  SeventySix.Client/src/app/domains/admin/users/pages/user-create/user-create.html
  SeventySix.Client/src/app/domains/admin/users/pages/user-detail/user-detail.html
  SeventySix.Client/src/app/domains/auth/guards/mfa-feature.guard.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/backup-codes/backup-codes.html
  SeventySix.Client/src/app/domains/auth/pages/totp-setup/totp-setup.html
  SeventySix.Client/src/app/shared/components/confirm-dialog/confirm-dialog.component.spec.ts
  SeventySix.Client/src/app/shared/components/layout/header/header.component.html
  SeventySix.Client/src/app/shared/components/notification-toast/notification-toast.component.spec.ts
  SeventySix.Client/src/app/shared/interceptors/error.interceptor.spec.ts
  SeventySix.Client/src/app/shared/pages/not-found/not-found.html
  SeventySix.Client/src/app/shared/services/auth.types.spec.ts
  SeventySix.Client/src/app/shared/services/feature-flags.service.spec.ts
  SeventySix.Client/src/app/shared/services/loading.service.spec.ts
  SeventySix.Client/src/app/shared/services/notification.service.spec.ts
  SeventySix.Client/src/app/shared/services/sw-update.service.spec.ts
  SeventySix.Client/src/app/shared/services/window.service.spec.ts
  SeventySix.Client/src/app/shared/utilities/validation-error.utilities.spec.ts
  SeventySix.Client/vite.config.ts
  SeventySix.Server/coverlet.runsettings
  codecov.yml
Due: server, client

Code QL updates for local
  .github/codeql/codeql-config-create.yml
  .github/codeql/csharp-sanitizer-models/codeql-pack.yml
  .github/instructions/security.instructions.md
  .github/prompts/security-review.prompt.md
  README.md
  SeventySix.Client/e2e/specs/public/accessibility.spec.ts
  SeventySix.Client/package-lock.json
  docker-compose.codeql.yml
  package.json
  scripts/codeql-ci-scan.sh
  scripts/run-codeql-scan.ps1
Due: none

Code QL Cleanup
  SeventySix.Server/Tests/SeventySix.Shared.Tests/Extensions/FusionCacheExtensionsTests.cs
Due: server

Review Solution Run
  .gitattributes
  .github/codeql/codeql-config.yml
  SeventySix.Client/e2e/specs/public/forced-password-change.spec.ts
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Client/src/app/domains/admin/components/grafana-dashboard-embed/grafana-dashboard-embed.component.scss
  SeventySix.Client/src/app/domains/home/pages/landing-page/sections/hero/hero-section.scss
  SeventySix.Client/src/app/shared/components/data-table/data-table.component.scss
  SeventySix.Client/src/app/shared/components/layout/header/header.component.scss
  SeventySix.Client/src/app/shared/components/session-warning/session-warning.component.scss
  SeventySix.Client/src/app/shared/components/session-warning/session-warning.component.ts
  SeventySix.Server/Dockerfile.production
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Jobs/EmailQueueProcessJobHandler.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Extensions/PermissionRequestExtensionsTests.cs
  docker-compose.e2e.yml
  docker-compose.loadtest.yml
  docker-compose.production.yml
  docker-compose.yml
  scripts/cleanup-docker.ps1
  scripts/codeql-ci-scan.sh
  scripts/generate-dev-ssl-cert.ps1
  scripts/manage-user-secrets.ps1
  scripts/start-infrastructure.ps1
Due: server, client

Read me
  README.md
Due: none

Client Branch Coverages
  SeventySix.Client/scripts/architecture-tests.mjs
  SeventySix.Client/src/app/domains/account/pages/request-permissions/request-permissions.spec.ts
  SeventySix.Client/src/app/domains/admin/logs/components/log-list/log-list.spec.ts
  SeventySix.Client/src/app/domains/admin/users/components/user-list/user-list.spec.ts
  SeventySix.Client/src/app/domains/admin/users/services/user.service.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/backup-codes/backup-codes.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/login/login.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/totp-setup/totp-setup.spec.ts
  SeventySix.Client/src/app/shared/components/altcha-widget/altcha-widget.spec.ts
  SeventySix.Client/src/app/shared/components/data-table/data-table.component.spec.ts
  SeventySix.Client/src/app/shared/components/data-table/data-table.component.ts
Due: client

CI/CD Deploys
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

Fixed Dotnet Versioning for Builds
  SeventySix.Server/Dockerfile.production
Due: server

Cleaned up unused scripts
  scripts/add-sealed-to-settings.ps1
  scripts/reindent-docker-compose.ps1
  scripts/rename-options-files.ps1
  scripts/rename-options-to-settings.ps1
  scripts/rename-validator-names.ps1
Due: none

Updated a readme screenshot
  docs/screenshots/permission-approval.png
Due: none

CI/CD Cbanges
  SeventySix.Server/Dockerfile.production
Due: server

Path conditions:
  server: any of: SeventySix.Server/, but not: **/*.spec.ts, **/testing/**, **/test-results/**, **/coverage/**, **/node_modules/**, **/Migrations/**, **/generated-open-api.ts, SeventySix.Client/e2e/**, SeventySix.Client/load-testing/**, scripts/**, docs/**
  client: any of: SeventySix.Client/src/, but not: **/*.spec.ts, **/testing/**, **/test-results/**, **/coverage/**, **/node_modules/**, **/Migrations/**, **/generated-open-api.ts, SeventySix.Client/e2e/**, SeventySix.Client/load-testing/**, scripts/**, docs/**
