Repository actionjacksonthegoat-debug/SeventySix: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

codecov:
    require_ci_to_pass: true

coverage:
    precision: 1
    round: down
    # Color mapping: red below 70%, yellow 70-89%, green ≥90%
    range: "70...90"

    status:
        # ── Project-level gate ──────────────────────────────────────────
        # Posts a FAILED status check on the PR if overall coverage drops
        # below 80%. Wire this into branch protection rules under:
        #   Settings → Branches → master → Require status checks →
        #     "codecov/project" (and the flag-scoped ones below)
        project:
            default:
                target: 80%
                threshold: 1%
                if_ci_failed: error
                if_not_found: success
            server:
                flags:
                    - server
                target: 80%
                threshold: 1%
                if_not_found: success
            client:
                flags:
                    - client
                target: 80%
                threshold: 1%
                if_not_found: success

        # ── Patch-level gate ────────────────────────────────────────────
        # New/changed lines in the PR must be ≥75% covered.
        patch:
            default:
                target: 75%
                threshold: 5%
                if_ci_failed: error
                if_not_found: success

flags:
    server:
        paths:
            - SeventySix.Server/
        carryforward: true
    client:
        paths:
            - SeventySix.Client/src/
        carryforward: true

ignore:
    - "**/*.spec.ts"
    - "**/testing/**"
    - "**/test-results/**"
    - "**/coverage/**"
    - "**/node_modules/**"
    - "**/Migrations/**"
    - "**/generated-open-api.ts"
    - "SeventySix.Client/e2e/**"
    - "SeventySix.Client/load-testing/**"
    - "scripts/**"
    - "docs/**"

# ── PR comment ──────────────────────────────────────────────────────────────
# Posts a coverage summary comment on every PR that changes tested code.
comment:
    layout: "header, reach, diff, flags, components, tree"
    behavior: default
    require_changes: true
    require_base: false
    require_head: true

Test Coverage Update
  ECommerce/seventysixcommerce-sveltekit/src/lib/server/__tests__/checkout.test.ts
  ECommerce/seventysixcommerce-tanstack/src/__tests__/server/functions/webhook.test.ts
  SeventySix.Server/Tests/SeventySix.Api.Tests/Configuration/AuthenticationRegistrationUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Configuration/ProductionSecuritySettingsValidationRuleUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Configuration/SecurityHeaderPoliciesUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Logging/SensitivePropertyDestructuringPolicyUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/SeventySix.Api.Tests.csproj
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Commands/Login/LoginCommandHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Settings/JwtSettingsUnitTests.cs
Due: server

Spec Test update
  SeventySix.Client/e2e/specs/admin/admin-dashboard.spec.ts
Due: none

E2E Spec Update
  SeventySix.Client/e2e/fixtures/auth.fixture.ts
Due: none

E2E updates
  ECommerce/seventysixcommerce-sveltekit/src/routes/api/webhook/stripe/__tests__/stripe-webhook.test.ts
  ECommerce/seventysixcommerce-sveltekit/src/routes/checkout/__tests__/page.server.test.ts
  ECommerce/seventysixcommerce-tanstack/src/__tests__/server/functions/webhook.test.ts
  SeventySix.Client/e2e/fixtures/auth.fixture.ts
  SeventySix.Client/e2e/fixtures/index.ts
  SeventySix.Client/e2e/fixtures/test-users.constant.ts
  SeventySix.Client/e2e/specs/admin/admin-dashboard.spec.ts
  SeventySix.Client/e2e/specs/developer/style-guide.spec.ts
  SeventySix.Server/SeventySix.Api/Seeders/E2EUserFixtureCatalog.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Configuration/AuthenticationRegistrationUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Configuration/ProductionSecuritySettingsValidationRuleUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Configuration/SecurityHeaderPoliciesUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Logging/SensitivePropertyDestructuringPolicyUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Settings/JwtSettingsUnitTests.cs
Due: server

Proxy updates
  SeventySix.Server/SeventySix.Api/SeventySix.Api.csproj
  SeventySix.Server/SeventySix.Shared/SeventySix.Shared.csproj
  nginx-proxy.conf
Due: server

E2E Updates
  .github/dependency-review-config.yml
  SeventySix.Client/e2e/fixtures/auth.fixture.ts
Due: none

Trivy Updates
  .github/workflows/reusable-container-scan.yml
Due: none

CI?CD Update
  .github/workflows/codeql.yml
Due: none

CI/CD Updates
  .github/workflows/ci.yml
  .github/workflows/seventysixcommerce-ci.yml
  SeventySix.Client/angular.json
Due: none

E2E Update
  SeventySix.Client/src/app/shared/components/data-table/data-table.component.spec.ts
  SeventySix.Client/src/app/shared/components/data-table/data-table.component.ts
Due: client

Trivy Update
  .github/workflows/reusable-container-scan.yml
Due: none

Trivy Updates
  .github/workflows/ci.yml
  .github/workflows/reusable-container-scan.yml
  .github/workflows/scheduled-security-scan.yml
  ECommerce/seventysixcommerce-sveltekit/Dockerfile
  ECommerce/seventysixcommerce-tanstack/Dockerfile
  SeventySix.Client/Dockerfile.production
  SeventySix.Client/mock-brevo-api/Dockerfile
  SeventySix.Server/Directory.Build.props
  SeventySix.Server/Dockerfile.production
  SeventySix.Server/SeventySix.Api/Dockerfile
  SeventySix.Server/SeventySix.Fuzz/Program.cs
  docker-compose.production.yml
  scripts/codeql-ci-scan.sh
Due: server

Trivy Updates
  .gitignore
Due: none

Security Scan updates
  .github/workflows/scheduled-security-scan.yml
  scripts/workflow-permissions-allowlist.json
Due: none

Security Updates
  ECommerce/seventysixcommerce-sveltekit/src/hooks.server.ts
  ECommerce/seventysixcommerce-tanstack/src/server.ts
  Implementation.commerce-launch.md
  docker-compose.production.yml
Due: none

Trivy Updates
  .github/workflows/ci.yml
  .github/workflows/reusable-container-scan.yml
Due: none

Scan Cleanup
  .trivyignore
Due: none

Scan Updates
  .github/workflows/ci.yml
Due: none

CI Update
  .github/workflows/ci.yml
Due: none

Scorecard update
  .github/workflows/scorecard.yml
Due: none

Scorecard Update
  .github/workflows/scorecard.yml
Due: none
