Repository actionjacksonthegoat-debug/SeventySix: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

Readme updates
  README.md
Due: none

review-solution pass
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/prompts/execute-plan.prompt.md
  .github/prompts/fix-warnings.prompt.md
  .github/prompts/review-plan.prompt.md
  SeventySix.Client/angular.json
  SeventySix.Client/e2e/fixtures/pages/admin-dashboard.page.ts
  SeventySix.Client/e2e/specs/admin/admin-dashboard.spec.ts
  SeventySix.Client/e2e/specs/admin/user-management.spec.ts
  SeventySix.Client/e2e/specs/home/landing-page.spec.ts
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/ngsw-config.json
  SeventySix.Client/src/app/app.config.ts
  SeventySix.Client/src/app/domains/admin/logs/components/log-detail-dialog/log-detail-dialog.component.html
  SeventySix.Client/src/app/domains/admin/logs/components/log-detail-dialog/log-detail-dialog.component.spec.ts
  SeventySix.Client/src/app/shared/components/data-table/utilities/data-table.utilities.spec.ts
  SeventySix.Client/src/app/shared/components/data-table/utilities/data-table.utility.ts
  SeventySix.Client/src/app/shared/components/layout/header/header.component.html
  SeventySix.Client/src/app/shared/components/layout/header/header.component.spec.ts
  SeventySix.Client/src/app/shared/components/layout/sidebar/sidebar.component.html
  SeventySix.Client/src/app/shared/services/oauth-flow.service.spec.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
  SeventySix.Client/src/app/shared/testing/mock-factories.ts
  SeventySix.Client/src/environments/environment.development.ts
  SeventySix.Client/src/environments/environment.e2e.ts
  SeventySix.Client/src/environments/environment.interface.ts
  SeventySix.Client/src/environments/environment.test.ts
  SeventySix.Client/src/environments/environment.ts
Due: client

CI Updates
  SECURITY.md
Due: none

CI Setup
  SECURITY.md
Due: none

CI Update
  SECURITY.md
Due: none

Code QL Updates
  SeventySix.Server/SeventySix.Api/Registration/OpenTelemetryRegistration.cs
  SeventySix.Server/SeventySix.Shared/Registration/FusionCacheRegistration.cs
Due: server

DAST Flow
  .github/workflows/dast.yml
Due: none

Dast Updates
  .github/workflows/dast.yml
Due: none

DAST updates
  .github/workflows/dast.yml
Due: none

DAST Update
  docker-compose.dast.yml
Due: none

DAST Updates
  .zap/rules.tsv
  SeventySix.Client/nginx-e2e.conf
Due: none

DAST Handling
  SeventySix.Client/nginx-e2e.conf
Due: none

DAST Updates
  .zap/rules.tsv
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
  SeventySix.Client/public/theme-init.js
  SeventySix.Client/src/index.html
Due: client

DAST Updates
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Client/scripts/inject-sri.mjs
Due: none

Code QL Updates
  SeventySix.Client/scripts/inject-sri.mjs
Due: none

Copilot Updates
  .github/copilot-instructions.md
  .github/instructions/formatting.instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/create-plan.prompt.md
  .github/prompts/execute-plan.prompt.md
  .github/prompts/review-plan.prompt.md
Due: none

SHA updates
  scripts/verify-cert-uids.sh
Due: none

CSP Nonce
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
  SeventySix.Server/SeventySix.Api/Controllers/V1/AuthControllerBase.cs
  SeventySix.Server/SeventySix.Api/Middleware/AttributeBasedSecurityHeadersMiddleware.cs
  SeventySix.Server/SeventySix.Shared/Constants/SecurityHeaderConstants.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/OAuthControllerTests.cs
Due: server

Auth Controller Coverages
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/AuthControllerBaseUnitTests.cs
Due: server

Corrects Code QL Warnings
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/AuthControllerBaseUnitTests.cs
Due: server

W3C Coop Accepted same-origin-allow-popups
  .zap/rules.tsv
Due: none

Mobile support
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.html
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.html
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/constants/car-a-lot.constants.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/driving-physics.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/driving-physics.service.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/octopus-boss.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/octopus-boss.service.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/road-collision.service.spec.ts
  SeventySix.Client/src/app/domains/games/shared/services/input.service.spec.ts
  SeventySix.Client/src/app/domains/games/shared/services/input.service.ts
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/AuthControllerBaseUnitTests.cs
Due: server, client

Minor game updates
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/boost.service.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/driving-physics.service.ts
  SeventySix.Client/src/app/domains/games/shared/services/input.service.ts
Due: client

User updates
  SeventySix.Server/Dockerfile.production
Due: server

Minor updates and mobile support
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.html
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/constants/car-a-lot.constants.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/models/car-a-lot.models.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/driving-physics.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/driving-physics.service.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/race-state.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/race-state.service.ts
  SeventySix.Client/src/app/domains/games/shared/services/input.service.ts
Due: client

mTSL alignment
  docker-compose.production.yml
  scripts/generate-internal-ca.ps1
  scripts/verify-cert-uids.sh
Due: none

mTLS updates
  SeventySix.Server/Dockerfile.production
Due: server

SHA work
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dast.yml
  SeventySix.Server/Dockerfile.production
Due: server

Game Structure
  .github/copilot-instructions.md
  .github/instructions/babylonjs.instructions.md
  .github/instructions/games.instructions.md
  .github/prompts/create-plan.prompt.md
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/coin.service.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/game-flow.service.ts
  SeventySix.Client/src/app/domains/games/games.routes.ts
Due: client

Code cleanup pass
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/boost.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/coin.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/road-collision.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/track-features.service.spec.ts
Due: client

CSP updates
  SeventySix.Client/angular.json
Due: none

Grafana Port Routing
  .devcontainer/devcontainer.json
  SeventySix.Client/src/app/domains/admin/components/grafana-dashboard-embed/grafana-dashboard-embed.component.spec.ts
  SeventySix.Client/src/app/domains/admin/components/grafana-dashboard-embed/grafana-dashboard-embed.component.ts
Due: client

Codespace Observability
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  SeventySix.Client/src/app/domains/admin/components/grafana-dashboard-embed/grafana-dashboard-embed.component.ts
  SeventySix.Client/src/app/domains/admin/logs/components/log-detail-dialog/log-detail-dialog.component.spec.ts
  SeventySix.Client/src/app/domains/admin/logs/components/log-detail-dialog/log-detail-dialog.component.ts
  SeventySix.Client/src/app/domains/admin/pages/admin-dashboard/admin-dashboard-page.spec.ts
  SeventySix.Client/src/app/domains/admin/pages/admin-dashboard/admin-dashboard.ts
  SeventySix.Client/src/app/shared/utilities/codespace-url.utility.spec.ts
  SeventySix.Client/src/app/shared/utilities/codespace-url.utility.ts
  SeventySix.Client/src/app/shared/utilities/index.ts
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/AuthControllerBaseUnitTests.cs
Due: server, client

Path conditions:
  server: any of: SeventySix.Server/, but not: **/*.spec.ts, **/testing/**, **/test-results/**, **/coverage/**, **/node_modules/**, **/Migrations/**, **/generated-open-api.ts, SeventySix.Client/e2e/**, SeventySix.Client/load-testing/**, scripts/**, docs/**
  client: any of: SeventySix.Client/src/, but not: **/*.spec.ts, **/testing/**, **/test-results/**, **/coverage/**, **/node_modules/**, **/Migrations/**, **/generated-open-api.ts, SeventySix.Client/e2e/**, SeventySix.Client/load-testing/**, scripts/**, docs/**
