Repository actionjacksonthegoat-debug/SeventySix: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

codecov:
    require_ci_to_pass: true

coverage:
    precision: 1
    round: down
    # Color mapping: red below 70%, yellow 70-89%, green ≥90%
    range: "70...90"

    status:
        # ── Project-level gate ──────────────────────────────────────────
        # Posts a FAILED status check on the PR if overall coverage drops
        # below 80%. Wire this into branch protection rules under:
        #   Settings → Branches → master → Require status checks →
        #     "codecov/project" (and the flag-scoped ones below)
        project:
            default:
                target: 80%
                threshold: 1%
                if_ci_failed: error
                if_not_found: success
            server:
                flags:
                    - server
                target: 80%
                threshold: 1%
                if_not_found: success
            client:
                flags:
                    - client
                target: 80%
                threshold: 1%
                if_not_found: success

        # ── Patch-level gate ────────────────────────────────────────────
        # New/changed lines in the PR must be ≥75% covered.
        patch:
            default:
                target: 75%
                threshold: 5%
                if_ci_failed: error
                if_not_found: success

flags:
    server:
        paths:
            - SeventySix.Server/
        carryforward: true
    client:
        paths:
            - SeventySix.Client/src/
        carryforward: true

ignore:
    - "**/*.spec.ts"
    - "**/testing/**"
    - "**/test-results/**"
    - "**/coverage/**"
    - "**/node_modules/**"
    - "**/Migrations/**"
    - "**/generated-open-api.ts"
    - "SeventySix.Client/e2e/**"
    - "SeventySix.Client/load-testing/**"
    - "scripts/**"
    - "docs/**"

# ── PR comment ──────────────────────────────────────────────────────────────
# Posts a coverage summary comment on every PR that changes tested code.
comment:
    layout: "header, reach, diff, flags, components, tree"
    behavior: default
    require_changes: true
    require_base: false
    require_head: true

Cleaned up some E2E tests
  SeventySix.Client/e2e/fixtures/email.fixture.ts
  SeventySix.Client/e2e/specs/public/register.spec.ts
  docs/Deployment.md
Due: none

Schedule Job Updates
  SeventySix.Client/e2e/specs/admin/user-management.spec.ts
  SeventySix.Client/nginx.conf
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/JobChainWatchdogService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/OrphanedRegistrationCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/RefreshTokenCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Registration/IdentityJobSchedulerContributor.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/OrphanedRegistrationCleanupSettingsValidator.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/RefreshTokenCleanupSettingsValidator.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/DatabaseMaintenanceJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/LogCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Settings/DatabaseMaintenanceSettingsValidator.cs
  SeventySix.Server/SeventySix.Domains/Logging/Settings/LogCleanupSettingsValidator.cs
  SeventySix.Server/SeventySix.Shared/BackgroundJobs/IRecurringJobService.cs
  SeventySix.Server/SeventySix.Shared/BackgroundJobs/RecurringJobService.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/Services/JobChainWatchdogServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Jobs/OrphanedRegistrationCleanupJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Jobs/RefreshTokenCleanupJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Registration/IdentityJobSchedulerContributorTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/OrphanedRegistrationCleanupSettingsValidatorUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/RefreshTokenCleanupSettingsValidatorUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/DatabaseMaintenanceSettingsValidatorUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/Jobs/DatabaseMaintenanceJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/Jobs/LogCleanupJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/LogCleanupSettingsValidatorUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Shared.Tests/BackgroundJobs/RecurringJobServiceTests.cs
Due: server

Caddyfile Updates
  .github/workflows/deploy.yml
  Caddyfile.production
  SeventySix.Server/SeventySix.Api/appsettings.Production.template.json
  docker-compose.production.yml
  docs/Deployment.md
Due: server

Doc Updates
  .github/prompts/update-documentation.prompt.md
  Caddyfile.production
  README.md
  SECURITY.md
  SeventySix.Client/README.md
  SeventySix.Server/README.md
  docs/Deployment.md
Due: server

Resource Allocations
  docker-compose.override.yml
  docker-compose.production.yml
  scripts/internal/cleanup-ports.ps1
Due: none

Dev Environment testing and updates
  SeventySix.Client/src/app/domains/home/pages/landing-page/sections/tech-stack/tech-stack-section.html
  nginx-proxy.conf
Due: client

Scheduled Job Updates
  SeventySix.Client/load-testing/scripts/run-load-tests.ps1
  SeventySix.Client/src/app/domains/admin/components/scheduled-jobs-table/scheduled-jobs-table.component.spec.ts
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/JobChainWatchdogService.cs
  SeventySix.Server/SeventySix.Api/appsettings.Production.template.json
  SeventySix.Server/SeventySix.Domains/ApiTracking/Repositories/ThirdPartyApiRequestRepository.cs
  SeventySix.Server/SeventySix.Domains/Logging/Infrastructure/LoggingDbContext.cs
  SeventySix.Server/SeventySix.Domains/Logging/Repositories/RecurringJobRepository.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/Services/ScheduledJobServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/ApiTracking/Repositories/ThirdPartyApiRequestRepositoryTests.cs
Due: server

Preloading strategy and Cache Alignment
  SeventySix.Client/nginx.conf
  SeventySix.Client/src/app/app.config.ts
  SeventySix.Client/src/app/shared/services/selective-preloading.strategy.spec.ts
  SeventySix.Client/src/app/shared/services/selective-preloading.strategy.ts
Due: client

Lighthouse, Client Telemetry Hooks, Logs Durability
  Caddyfile.production
  SeventySix.Client/src/app/app.config.ts
  SeventySix.Client/src/app/app.html
  SeventySix.Client/src/app/app.routes.ts
  SeventySix.Client/src/app/domains/home/pages/landing-page/landing-page.html
  SeventySix.Client/src/app/domains/home/pages/landing-page/landing-page.spec.ts
  SeventySix.Client/src/app/shared/components/layout/header/header.component.scss
  SeventySix.Client/src/app/shared/components/layout/sidebar/sidebar.component.scss
  SeventySix.Client/src/app/shared/constants/browser.constants.ts
  SeventySix.Client/src/app/shared/constants/index.ts
  SeventySix.Client/src/app/shared/constants/navigation.constants.ts
  SeventySix.Client/src/app/shared/services/auth.service.ts
  SeventySix.Client/src/app/shared/services/client-error-logger.service.spec.ts
  SeventySix.Client/src/app/shared/services/client-error-logger.service.ts
  SeventySix.Client/src/app/shared/services/logger.service.spec.ts
  SeventySix.Client/src/app/shared/services/logger.service.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
  SeventySix.Client/src/app/shared/services/telemetry.service.spec.ts
  SeventySix.Client/src/app/shared/services/telemetry.service.ts
  SeventySix.Client/src/app/shared/utilities/trace-context.utility.spec.ts
  SeventySix.Client/src/app/shared/utilities/trace-context.utility.ts
  SeventySix.Client/src/environments/environment.ts
  SeventySix.Client/src/index.html
  SeventySix.Client/src/styles.scss
  SeventySix.Client/src/test-setup.ts
Due: client

Spec updates for Developer User Access
  SeventySix.Client/e2e/specs/authenticated/navigation.spec.ts
  SeventySix.Client/e2e/specs/developer/developer-access.spec.ts
Due: none

Prompt Updates, 12 Char Password - no special characters per OWasp
  .github/copilot-instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/create-plan.prompt.md
  .github/prompts/execute-plan.prompt.md
  .github/prompts/review-plan.prompt.md
  .github/prompts/review-solution.prompt.md
  README.md
  SeventySix.Client/e2e/fixtures/index.ts
  SeventySix.Client/e2e/fixtures/page-text.constant.ts
  SeventySix.Client/e2e/fixtures/test-users.constant.ts
  SeventySix.Client/e2e/specs/admin/permission-request-list.spec.ts
  SeventySix.Client/e2e/specs/public/register.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/change-password/change-password.html
  SeventySix.Client/src/app/domains/auth/pages/change-password/change-password.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/register-complete/register-complete.html
  SeventySix.Client/src/app/domains/auth/pages/set-password/set-password.html
  SeventySix.Client/src/app/domains/auth/utilities/auth-validation.utility.spec.ts
  SeventySix.Client/src/app/domains/auth/utilities/auth-validation.utility.ts
  SeventySix.Client/src/app/domains/developer/pages/style-guide/style-guide.html
  SeventySix.Client/src/app/shared/constants/validation.constants.ts
  SeventySix.Client/src/app/shared/directives/field-message.directive.ts
  SeventySix.Client/src/app/shared/services/date.service.spec.ts
  SeventySix.Client/src/app/shared/services/error-handler.service.spec.ts
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/JobChainWatchdogService.cs
  SeventySix.Server/SeventySix.Api/Seeders/E2ETestSeeder.cs
  SeventySix.Server/SeventySix.Api/appsettings.Production.template.json
  SeventySix.Server/SeventySix.Api/appsettings.json
  SeventySix.Server/SeventySix.Domains.Identity/Extensions/PasswordValidationExtensions.cs
  SeventySix.Server/SeventySix.Domains.Identity/Registration/IdentityRegistration.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/AuthSettings.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/Services/JobChainWatchdogServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/CompleteRegistrationCommandValidatorTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/PasswordValidationExtensionsTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/SetPasswordCommandValidatorTests.cs
  docs/MCP-Server-Setup.md
  docs/Prompt-Guide.md
  docs/Settings.md
  scripts/internal/collect-secrets.ps1
Due: server, client

Client Telemetry updates and Upsert Syncs for Third Party Calls
  SeventySix.Client/angular.json
  SeventySix.Client/proxy.conf.json
  SeventySix.Client/src/app/app.config.ts
  SeventySix.Client/src/app/domains/home/constants/landing-page.constants.ts
  SeventySix.Client/src/app/domains/home/pages/landing-page/landing-page.spec.ts
  SeventySix.Client/src/app/shared/components/layout/sidebar/sidebar.component.scss
  SeventySix.Client/src/app/shared/services/telemetry.service.spec.ts
  SeventySix.Client/src/app/shared/services/telemetry.service.ts
  SeventySix.Client/src/environments/environment.development.ts
  SeventySix.Client/src/index.html
  SeventySix.Client/src/styles.scss
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/RateLimitingService.cs
  SeventySix.Server/SeventySix.Api/Seeders/E2ETestSeeder.cs
  SeventySix.Server/SeventySix.Domains/ApiTracking/Interfaces/IThirdPartyApiRequestRepository.cs
  SeventySix.Server/SeventySix.Domains/ApiTracking/Repositories/ThirdPartyApiRequestRepository.cs
  SeventySix.Server/SeventySix.Shared/Persistence/BaseRepository.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/Services/RateLimitingServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/ApiTracking/Repositories/ThirdPartyApiRequestRepositoryTests.cs
  nginx-proxy.conf
Due: server, client

Formatting Copilot Updtes
  .github/copilot-instructions.md
  .github/instructions/formatting.instructions.md
  .github/instructions/testing-server.instructions.md
  .github/prompts/create-plan.prompt.md
  .github/prompts/execute-plan.prompt.md
Due: none

E2E Updates
  SeventySix.Client/e2e/specs/public/forced-password-change.spec.ts
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/Services/RateLimitingServiceTests.cs
Due: server

Updates for Caddy Logs
  .github/workflows/deploy.yml
  Caddyfile.production
Due: none

Updates for CI
  .github/workflows/deploy.yml
Due: none

E2E Test updates
  SeventySix.Client/e2e/fixtures/config.constant.ts
  SeventySix.Client/e2e/specs/public/forced-password-change.spec.ts
Due: none

Client Jaeger Traces
  SeventySix.Client/src/app/shared/services/client-error-logger.service.spec.ts
  SeventySix.Client/src/app/shared/services/logger.service.spec.ts
  SeventySix.Client/src/app/shared/utilities/trace-context.utility.spec.ts
  SeventySix.Client/src/app/shared/utilities/trace-context.utility.ts
  SeventySix.Server/SeventySix.Domains/Logging/Extensions/LogExtensions.cs
Due: server, client

User Editable Roles Update
  SeventySix.Client/src/app/domains/admin/users/pages/user-detail/user-detail.spec.ts
  SeventySix.Client/src/app/domains/admin/users/services/user.service.spec.ts
  SeventySix.Client/src/app/domains/admin/users/services/user.service.ts
Due: client

JS Site Walktrhough for Demo Video
  SeventySix.Client/scripts/run-site-base-walkthrough.mjs
  SeventySix.Client/scripts/walkthrough/flow.mjs
  SeventySix.Client/scripts/walkthrough/human-interaction.mjs
  SeventySix.Client/scripts/walkthrough/reliability.mjs
Due: none

Code QL updates and Walktrhrough Release Created
  README.md
  SeventySix.Client/scripts/walkthrough/page-actions.mjs
  run-site-base-walkthrough.mjs
Due: none

Code smell cleanup
  SeventySix.Client/src/app/domains/admin/users/pages/user-detail/user-detail.spec.ts
Due: none

Format cleanup
  SeventySix.Client/src/app/domains/admin/users/pages/user-detail/user-detail.spec.ts
Due: none

Deleted duplicate script
  run-site-base-walkthrough.mjs
Due: none

Correct video embed syntax in README
  README.md
Due: none

Removed Caddy logs
  Caddyfile.production
Due: none

Startup Flows
  docker-compose.production.yml
  scripts/bootstrap.ps1
  scripts/internal/check-prerequisites.ps1
  scripts/internal/load-user-secrets.ps1
Due: none

Startup Script updates
  scripts/bootstrap.ps1
  scripts/internal/check-prerequisites.ps1
  scripts/internal/collect-secrets.ps1
Due: none

Dispose Cleanup
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/AltchaControllerRateLimitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/OAuthControllerTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/PasswordControllerTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/RegistrationControllerTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/AuthControllerTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/AuthRateLimitingTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/LogsControllerRateLimitTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/LogsControllerTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/UsersControllerMeEndpointTests.cs
Due: server

Nginx updates
  SeventySix.Client/nginx.conf
  scripts/internal/collect-secrets.ps1
Due: none

Ubuntu Test Changes
  SeventySix.Server/Tests/SeventySix.TestUtilities/TestBases/SharedWebApplicationFactory.cs
Due: server

Updates to DevContainer for Codespaces
  .devcontainer/devcontainer.json
Due: none

PostGres integration tests
  SeventySix.Server/Tests/SeventySix.TestUtilities/TestBases/SharedWebApplicationFactory.cs
Due: server

Updated DevContainer and BOM issues
  .devcontainer/devcontainer.json
  .gitattributes
  scripts/bootstrap.sh
  scripts/codeql-ci-scan.sh
  scripts/reset-database.ps1
Due: none

64gn storage Dev
  .devcontainer/devcontainer.json
Due: none

Script Only update
  scripts/internal/check-prerequisites.ps1
Due: none

Startup Codespace Work
  .devcontainer/devcontainer.json
  SeventySix.Client/proxy.conf.json
  SeventySix.Client/src/environments/environment.development.ts
  SeventySix.Server/SeventySix.Api/appsettings.Development.json
  scripts/bootstrap.ps1
  scripts/start-dev.ps1
Due: server, client

Boostrap Start update
  scripts/internal/collect-secrets.ps1
Due: none

Revise README for production readiness and setup
  README.md
Due: none

Readme and Github Callback tracking
  README.md
  SeventySix.Client/nginx.conf
  SeventySix.Server/SeventySix.Api/Middleware/AttributeBasedSecurityHeadersMiddleware.cs
Due: server
