Repository actionjacksonthegoat-debug/SeventySix: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

codecov:
    require_ci_to_pass: true

coverage:
    precision: 1
    round: down
    # Color mapping: red below 70%, yellow 70-89%, green ≥90%
    range: "70...90"

    status:
        # ── Project-level gate ──────────────────────────────────────────
        # Posts a FAILED status check on the PR if overall coverage drops
        # below 80%. Wire this into branch protection rules under:
        #   Settings → Branches → master → Require status checks →
        #     "codecov/project" (and the flag-scoped ones below)
        project:
            default:
                target: 80%
                threshold: 1%
                if_ci_failed: error
                if_not_found: success
            server:
                flags:
                    - server
                target: 80%
                threshold: 1%
                if_not_found: success
            client:
                flags:
                    - client
                target: 80%
                threshold: 1%
                if_not_found: success

        # ── Patch-level gate ────────────────────────────────────────────
        # New/changed lines in the PR must be ≥75% covered.
        patch:
            default:
                target: 75%
                threshold: 5%
                if_ci_failed: error
                if_not_found: success

flags:
    server:
        paths:
            - SeventySix.Server/
        carryforward: true
    client:
        paths:
            - SeventySix.Client/src/
        carryforward: true

ignore:
    - "**/*.spec.ts"
    - "**/testing/**"
    - "**/test-results/**"
    - "**/coverage/**"
    - "**/node_modules/**"
    - "**/Migrations/**"
    - "**/generated-open-api.ts"
    - "SeventySix.Client/e2e/**"
    - "SeventySix.Client/load-testing/**"
    - "scripts/**"
    - "docs/**"

# ── PR comment ──────────────────────────────────────────────────────────────
# Posts a coverage summary comment on every PR that changes tested code.
comment:
    layout: "header, reach, diff, flags, components, tree"
    behavior: default
    require_changes: true
    require_base: false
    require_head: true

Start:Api-Debug Update
  scripts/start-infrastructure.ps1
Due: none

Minor game updates
  SeventySix.Client/src/app/domains/games/car-a-lot/components/color-selector/color-selector.html
  SeventySix.Client/src/app/domains/games/car-a-lot/components/color-selector/color-selector.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/components/color-selector/color-selector.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.html
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/constants/car-a-lot.constants.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.html
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/character-builder.service.ts
  SeventySix.Client/src/app/domains/games/games.routes.ts
Due: client

Minor Game Updates to V1
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.html
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/services/race-state.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/race-state.service.ts
  SeventySix.Client/src/app/domains/games/shared/components/fullscreen-toggle/fullscreen-toggle.spec.ts
  SeventySix.Client/src/app/domains/games/shared/components/fullscreen-toggle/fullscreen-toggle.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/components/spy-mobile-controls/spy-mobile-controls.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/constants/spy-vs-spy.constants.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/constants/spy-vs-spy.constants.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/models/spy-vs-spy.models.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/pages/spy-vs-spy-game/spy-vs-spy-game.html
  SeventySix.Client/src/app/domains/games/spy-vs-spy/pages/spy-vs-spy-game/spy-vs-spy-game.scss
  SeventySix.Client/src/app/domains/games/spy-vs-spy/pages/spy-vs-spy-game/spy-vs-spy-game.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/pages/spy-vs-spy-game/spy-vs-spy-game.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/explosion.service.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/explosion.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/game-flow.service.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/game-flow.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/island-decoration.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/island-environment.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/island-scene.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-ai.service.decision-timing.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-ai.service.interception.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-ai.service.room-coverage.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-ai.service.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-camera.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-pathfinding.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-physics.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-search-handler.service.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/spy-search-handler.service.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/turn.service.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/services/turn.service.ts
Due: client

Security Warning fix
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
Due: none

Branch Coverages
  SeventySix.Client/src/app/domains/account/pages/profile/profile.spec.ts
  SeventySix.Client/src/app/domains/admin/permission-requests/pages/permission-request-list/permission-request-list.spec.ts
  SeventySix.Client/src/app/domains/admin/users/pages/user-detail/user-detail.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/mfa-verify/mfa-verify.spec.ts
  SeventySix.Client/src/app/domains/auth/utilities/auth-validation.utility.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/pages/spy-vs-spy-game/spy-vs-spy-game.spec.ts
  SeventySix.Client/src/app/shared/services/auth.service.branch-coverage.spec.ts
  SeventySix.Client/src/app/shared/services/date.service.spec.ts
  SeventySix.Client/src/app/shared/services/error-handler.service.spec.ts
  SeventySix.Client/src/app/shared/services/error-queue.service.spec.ts
  SeventySix.Client/src/app/shared/services/feature-flags.service.spec.ts
  SeventySix.Client/src/app/shared/services/logger.service.spec.ts
  SeventySix.Client/src/app/shared/services/notification.service.branch-coverage.spec.ts
  SeventySix.Client/src/app/shared/services/notification.service.spec.ts
Due: none

ESlint pass
  SeventySix.Client/src/app/domains/account/pages/profile/profile.spec.ts
  SeventySix.Client/src/app/domains/admin/permission-requests/pages/permission-request-list/permission-request-list.spec.ts
  SeventySix.Client/src/app/domains/admin/users/pages/user-detail/user-detail.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/mfa-verify/mfa-verify.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/pages/car-a-lot-game/car-a-lot-game.spec.ts
  SeventySix.Client/src/app/domains/games/spy-vs-spy/pages/spy-vs-spy-game/spy-vs-spy-game.spec.ts
  SeventySix.Client/src/app/shared/services/date.service.spec.ts
  SeventySix.Client/src/app/shared/services/error-queue.service.spec.ts
  SeventySix.Client/src/app/shared/services/logger.service.spec.ts
  SeventySix.Client/src/app/shared/services/notification.service.spec.ts
Due: none

Added branch coverages
  SeventySix.Client/src/app/domains/games/car-a-lot/services/car-a-lot-audio.service.spec.ts
  SeventySix.Client/src/app/domains/games/car-a-lot/services/game-flow.service.spec.ts
Due: none

CI/CD improvements
  .github/workflows/seventysixcommerce-ci.yml
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/Repositories/LogRepositoryTests.cs
  seventysixcommerce-sveltekit/scripts/start.mjs
  seventysixcommerce-tanstack/scripts/start.mjs
Due: server

CI/CD Improvements
  .github/workflows/deploy.yml
  .github/workflows/seventysixcommerce-ci.yml
  .github/workflows/seventysixcommerce-deploy.yml
  seventysixcommerce-sveltekit/.github/workflows/seventysixcommerce-sveltekit-ci.yml
  seventysixcommerce-tanstack/.github/workflows/ci.yml
Due: none

CI/CD improvements
  .github/workflows/seventysixcommerce-ci.yml
Due: none

V1 Improvements
  .github/copilot-instructions.md
  SeventySix.Client/src/app/domains/admin/pages/admin-dashboard/admin-dashboard.scss
  SeventySix.Client/src/app/domains/admin/svelte/pages/svelte-dashboard/svelte-dashboard.html
  SeventySix.Client/src/app/domains/admin/svelte/pages/svelte-dashboard/svelte-dashboard.scss
  SeventySix.Client/src/app/domains/admin/svelte/pages/svelte-dashboard/svelte-dashboard.spec.ts
  SeventySix.Client/src/app/domains/admin/svelte/pages/svelte-dashboard/svelte-dashboard.ts
  SeventySix.Client/src/app/domains/admin/tanstack/pages/tanstack-dashboard/tanstack-dashboard.html
  SeventySix.Client/src/app/domains/admin/tanstack/pages/tanstack-dashboard/tanstack-dashboard.scss
  SeventySix.Client/src/app/domains/admin/tanstack/pages/tanstack-dashboard/tanstack-dashboard.spec.ts
  SeventySix.Client/src/app/domains/admin/tanstack/pages/tanstack-dashboard/tanstack-dashboard.ts
  scripts/start-all.mjs
  scripts/stop-all.ps1
  seventysixcommerce-sveltekit/src/app.css
  seventysixcommerce-sveltekit/src/app.html
  seventysixcommerce-sveltekit/src/hooks.server.ts
  seventysixcommerce-sveltekit/src/lib/server/__tests__/log-forwarder.test.ts
  seventysixcommerce-sveltekit/src/lib/server/log-forwarder.ts
  seventysixcommerce-sveltekit/svelte.config.js
  seventysixcommerce-tanstack/src/components/ui/ThemeToggle.tsx
  seventysixcommerce-tanstack/src/routes/__root.tsx
  seventysixcommerce-tanstack/src/routes/shop/$category/$slug.tsx
  seventysixcommerce-tanstack/src/server/__tests__/log-forwarder.test.ts
  seventysixcommerce-tanstack/src/server/log-forwarder.ts
  seventysixcommerce-tanstack/src/styles/globals.css
Due: client

Seventy Six Commerce Admin
  observability/grafana/provisioning/dashboards/svelte-commerce.json
  observability/grafana/provisioning/dashboards/svelte-performance.json
  observability/grafana/provisioning/dashboards/tanstack-commerce.json
  observability/grafana/provisioning/dashboards/tanstack-performance.json
  observability/otel-collector.yaml
  seventysixcommerce-sveltekit/src/routes/+page.server.ts
  seventysixcommerce-sveltekit/src/routes/cart/+page.server.ts
  seventysixcommerce-sveltekit/src/routes/checkout/+page.server.ts
  seventysixcommerce-sveltekit/src/routes/checkout/success/+page.server.ts
  seventysixcommerce-sveltekit/src/routes/shop/+page.server.ts
  seventysixcommerce-sveltekit/src/routes/shop/[category]/+page.server.ts
  seventysixcommerce-sveltekit/src/routes/shop/[category]/[slug]/+page.server.ts
  seventysixcommerce-tanstack/src/routes/cart.tsx
  seventysixcommerce-tanstack/src/routes/checkout/success.tsx
  seventysixcommerce-tanstack/src/routes/index.tsx
  seventysixcommerce-tanstack/src/routes/shop/$category/$slug.tsx
  seventysixcommerce-tanstack/src/routes/shop/$category/index.tsx
  seventysixcommerce-tanstack/src/routes/shop/index.tsx
  seventysixcommerce-tanstack/src/server/functions/cart.ts
  seventysixcommerce-tanstack/src/server/functions/checkout.ts
Due: none

Doc updates
  .github/copilot-instructions.md
  README.md
  SeventySix.Client/README.md
  SeventySix.Client/e2e/specs/home/landing-page.spec.ts
  SeventySix.Client/src/app/domains/home/constants/landing-page.constants.ts
  SeventySix.Client/src/app/domains/home/pages/landing-page/sections/hero/hero-section.html
  docs/Deployment.md
  docs/Scaling-Plan.md
  docs/Settings.md
  docs/Startup-Instructions.md
  seventysixcommerce-sveltekit/README.md
  seventysixcommerce-tanstack/README.md
Due: client

Ecosystem Consistency
  .github/CODEOWNERS
  .github/agents/review.md
  .github/copilot-instructions.md
  .github/instructions/accessibility.instructions.md
  .github/instructions/commerce-shared.instructions.md
  .github/instructions/load-testing.instructions.md
  .github/instructions/security.instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/create-plan.prompt.md
  .github/prompts/execute-plan.prompt.md
  .github/prompts/fix-warnings.prompt.md
  .github/prompts/review-plan.prompt.md
  .github/prompts/review-solution.prompt.md
  .github/prompts/security-review.prompt.md
  .github/workflows/seventysixcommerce-ci.yml
  ECommerce/seventysixcommerce-sveltekit/.github/workflows/seventysixcommerce-sveltekit-ci.yml
  ECommerce/seventysixcommerce-tanstack/.github/workflows/ci.yml
  package.json
  scripts/link-commerce-shared-node-modules.mjs
Due: none

Minor Updates and CI/CD
  .github/prompts/run-site-base.prompt.md
  .github/workflows/seventysixcommerce-ci.yml
  ECommerce/.dockerignore
  ECommerce/seventysixcommerce-sveltekit/Dockerfile
  ECommerce/seventysixcommerce-sveltekit/docker-compose.e2e.yml
  ECommerce/seventysixcommerce-sveltekit/load-testing/scripts/run-load-tests.ps1
  ECommerce/seventysixcommerce-sveltekit/src/app.css
  ECommerce/seventysixcommerce-tanstack/Dockerfile
  ECommerce/seventysixcommerce-tanstack/docker-compose.e2e.yml
  ECommerce/seventysixcommerce-tanstack/load-testing/scripts/run-load-tests.ps1
  ECommerce/seventysixcommerce-tanstack/src/styles/globals.css
  SeventySix.Client/src/app/domains/games/car-a-lot/components/driving-hud/driving-hud.scss
  SeventySix.Client/src/app/domains/games/car-a-lot/components/mobile-controls/mobile-controls.scss
  SeventySix.Client/src/app/domains/games/spy-vs-spy/pages/spy-vs-spy-game/spy-vs-spy-game.scss
  SeventySix.Client/src/app/shared/components/data-table/data-table.component.scss
  SeventySix.Client/src/app/shared/styles/_utilities.scss
  docker-compose.loadtest-svelte.yml
  docker-compose.loadtest-tanstack.yml
Due: client

Shared ECommerce Updates
  .github/codeql/codeql-config.yml
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/dast.yml
  .github/workflows/dependency-review.yml
  ECommerce/seventysixcommerce-sveltekit/.github/workflows/seventysixcommerce-sveltekit-ci.yml
  ECommerce/seventysixcommerce-sveltekit/docker-compose.dast.yml
  ECommerce/seventysixcommerce-sveltekit/load-testing/scripts/generate-summary.js
  ECommerce/seventysixcommerce-sveltekit/load-testing/scripts/run-load-tests.sh
  ECommerce/seventysixcommerce-tanstack/.github/workflows/ci.yml
  ECommerce/seventysixcommerce-tanstack/docker-compose.dast.yml
  ECommerce/seventysixcommerce-tanstack/load-testing/scripts/generate-summary.js
  ECommerce/seventysixcommerce-tanstack/load-testing/scripts/run-load-tests.sh
  SeventySix.Client/load-testing/scripts/generate-summary.js
  package.json
  scripts/cleanup-docker.ps1
  scripts/stop-all.ps1
Due: none

Cleaned Dependabot Warnings
  ECommerce/seventysixcommerce-sveltekit/package-lock.json
  ECommerce/seventysixcommerce-sveltekit/package.json
  ECommerce/seventysixcommerce-tanstack/package-lock.json
  ECommerce/seventysixcommerce-tanstack/package.json
Due: none

Ecosystem Cleanup
  .github/copilot-instructions.md
  .github/workflows/dast.yml
  ECommerce/seventysixcommerce-shared/README.md
  ECommerce/seventysixcommerce-sveltekit/README.md
  ECommerce/seventysixcommerce-tanstack/README.md
  README.md
  scripts/bootstrap.ps1
  scripts/cleanup-docker.ps1
  scripts/internal/collect-secrets.ps1
Due: none

ECommerce Secrets
  .devcontainer/devcontainer.json
  .github/prompts/run-site-base.prompt.md
  ECommerce/.dockerignore
  ECommerce/seventysixcommerce-sveltekit/.env.example
  ECommerce/seventysixcommerce-sveltekit/.env.production.example
  ECommerce/seventysixcommerce-sveltekit/.gitignore
  ECommerce/seventysixcommerce-sveltekit/README.md
  ECommerce/seventysixcommerce-sveltekit/SECRETS.md
  ECommerce/seventysixcommerce-sveltekit/drizzle.config.ts
  ECommerce/seventysixcommerce-sveltekit/load-testing/scripts/run-load-tests.ps1
  ECommerce/seventysixcommerce-sveltekit/scripts/start.mjs
  ECommerce/seventysixcommerce-tanstack/.env.example
  ECommerce/seventysixcommerce-tanstack/.env.production.example
  ECommerce/seventysixcommerce-tanstack/.gitignore
  ECommerce/seventysixcommerce-tanstack/README.md
  ECommerce/seventysixcommerce-tanstack/SECRETS.md
  ECommerce/seventysixcommerce-tanstack/drizzle.config.ts
  ECommerce/seventysixcommerce-tanstack/e2e/fixtures/routes.constant.ts
  ECommerce/seventysixcommerce-tanstack/load-testing/scripts/run-load-tests.ps1
  ECommerce/seventysixcommerce-tanstack/scripts/start.mjs
  ECommerce/seventysixcommerce-tanstack/src/components/ui/CookieConsent.tsx
  ECommerce/seventysixcommerce-tanstack/src/routes/__root.tsx
  README.md
  SeventySix.Client/load-testing/scripts/run-load-tests.ps1
  observability/otel-collector.yaml
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/internal/check-prerequisites.ps1
  scripts/internal/collect-secrets.ps1
  scripts/internal/load-user-secrets.ps1
  scripts/load-commerce-secrets.mjs
  scripts/manage-user-secrets.ps1
Due: none

Run Site Cleanup
  .github/prompts/run-site-base.prompt.md
  ECommerce/seventysixcommerce-sveltekit/svelte.config.js
  ECommerce/seventysixcommerce-tanstack/src/hooks/__tests__/use-theme.test.ts
  ECommerce/seventysixcommerce-tanstack/src/hooks/use-theme.ts
  ECommerce/seventysixcommerce-tanstack/src/lib/constants.ts
  ECommerce/seventysixcommerce-tanstack/src/routes/__root.tsx
Due: none

Snapshot Updates
  .github/workflows/dependency-review.yml
Due: none

Dast Updates
  .zap/rules.tsv
  ECommerce/seventysixcommerce-sveltekit/Dockerfile
  ECommerce/seventysixcommerce-sveltekit/server.mjs
  ECommerce/seventysixcommerce-sveltekit/src/hooks.server.ts
  ECommerce/seventysixcommerce-sveltekit/svelte.config.js
  ECommerce/seventysixcommerce-tanstack/src/server.ts
Due: none

DAST Updates
  ECommerce/seventysixcommerce-sveltekit/server.mjs
Due: none

Updates and cleanup
  .github/workflows/ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/seventysixcommerce-ci.yml
  README.md
  SeventySix.Server/SeventySix.Domains.Identity/Interfaces/ITokenGenerationService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Interfaces/ITokenRevocationService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Registration/IdentityRegistration.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/TokenGenerationService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/TokenRevocationService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/TokenService.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/TokenGenerationServiceUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/TokenRevocationServiceUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/TokenServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/TokenServiceUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/UpdateUserCommandValidatorTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/ElectronicNotifications/Emails/EmailServiceTests.cs
Due: server

Instruction Updates
  .github/copilot-instructions.md
  .github/instructions/accessibility.instructions.md
  .github/instructions/angular.instructions.md
  .github/instructions/csharp.instructions.md
  .github/instructions/e2e-svelte.instructions.md
  .github/instructions/e2e-tanstack.instructions.md
  .github/instructions/e2e.instructions.md
  .github/instructions/formatting.instructions.md
  .github/instructions/load-testing.instructions.md
  .github/instructions/new-domain.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/sveltekit.instructions.md
  .github/instructions/tanstack.instructions.md
  .github/instructions/testing-client.instructions.md
  .github/instructions/testing-server.instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/execute-plan.prompt.md
  .github/prompts/new-angular-service.prompt.md
  .github/prompts/new-component.prompt.md
  .github/prompts/new-domain-feature.prompt.md
  .github/prompts/new-service.prompt.md
  .github/prompts/review-plan.prompt.md
  .github/prompts/run-site-base.prompt.md
Due: none

Added code coverage
  ECommerce/seventysixcommerce-sveltekit/src/lib/server/__tests__/checkout.test.ts
  ECommerce/seventysixcommerce-sveltekit/src/routes/api/webhook/stripe/__tests__/stripe-webhook.test.ts
  ECommerce/seventysixcommerce-tanstack/src/server/__tests__/telemetry.test.ts
  SeventySix.Client/src/app/shared/constants/navigation.constants.spec.ts
  SeventySix.Client/src/app/shared/interceptors/logging.interceptor.spec.ts
  SeventySix.Client/src/app/shared/services/error-handler.service.spec.ts
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/TrustedDeviceControllerUnitTests.cs
Due: server

CI/CD updates
  SeventySix.Server/.config/dotnet-tools.json
  SeventySix.Server/SeventySix.Domains.Identity/Infrastructure/IdentityDbContextFactory.cs
  SeventySix.Server/SeventySix.Domains/ApiTracking/Infrastructure/ApiTrackingDbContextFactory.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Jobs/EmailQueueRetentionJobHandler.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Infrastructure/ElectronicNotificationsDbContextFactory.cs
  SeventySix.Server/SeventySix.Domains/Logging/Infrastructure/LoggingDbContextFactory.cs
  SeventySix.Server/SeventySix.Shared/Utilities/DesignTimeConnectionStringProvider.cs
Due: server

Secuirty Review and Updates
  .github/workflows/ci.yml
  .github/workflows/seventysixcommerce-ci.yml
  ECommerce/seventysixcommerce-sveltekit/package-lock.json
  ECommerce/seventysixcommerce-tanstack/package-lock.json
  SeventySix.Client/e2e/fixtures/helpers/accessibility.helper.ts
  SeventySix.Client/e2e/fixtures/timeouts.constant.ts
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Client/tsconfig.app.json
  SeventySix.Client/tsconfig.json
  SeventySix.Client/tsconfig.spec.json
  SeventySix.Server/Tests/SeventySix.TestUtilities/TestBases/SharedContainerManager.cs
Due: server

Library Updates
  .github/workflows/ci.yml
  .github/workflows/scorecard.yml
  .github/workflows/seventysixcommerce-ci.yml
  .nvmrc
  ECommerce/seventysixcommerce-shared/package-lock.json
  ECommerce/seventysixcommerce-shared/package.json
  ECommerce/seventysixcommerce-sveltekit/Dockerfile
  ECommerce/seventysixcommerce-sveltekit/package-lock.json
  ECommerce/seventysixcommerce-sveltekit/package.json
  ECommerce/seventysixcommerce-sveltekit/src/lib/server/__tests__/checkout.test.ts
  ECommerce/seventysixcommerce-sveltekit/src/routes/api/webhook/stripe/__tests__/stripe-webhook.test.ts
  ECommerce/seventysixcommerce-tanstack/Dockerfile
  ECommerce/seventysixcommerce-tanstack/package-lock.json
  ECommerce/seventysixcommerce-tanstack/package.json
  ECommerce/seventysixcommerce-tanstack/src/routes/checkout/success.tsx
  ECommerce/seventysixcommerce-tanstack/src/server/__tests__/telemetry.test.ts
  ECommerce/seventysixcommerce-tanstack/src/server/db/seed.ts
  ECommerce/seventysixcommerce-tanstack/src/server/functions/products.ts
  SeventySix.Client/Dockerfile.e2e
  SeventySix.Client/Dockerfile.production
  SeventySix.Client/e2e/fixtures/timeouts.constant.ts
  SeventySix.Client/mock-brevo-api/Dockerfile
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/TrustedDeviceControllerUnitTests.cs
Due: server

Package Upgrades
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
  ECommerce/seventysixcommerce-shared/package.json
  ECommerce/seventysixcommerce-sveltekit/package.json
  ECommerce/seventysixcommerce-tanstack/package.json
  SeventySix.Client/package.json
  SeventySix.Server/Tests/SeventySix.Api.Tests/Security/ProblemDetailsLeakageTests.cs
Due: server
