Repository actionjacksonthegoat-debug/SeventySix: changes, and which Codecov flags are due for each by the changed paths.
All: server, client

codecov.yml:

codecov:
    require_ci_to_pass: true

coverage:
    precision: 1
    round: down
    # Color mapping: red below 70%, yellow 70-89%, green ≥90%
    range: "70...90"

    status:
        # ── Project-level gate ──────────────────────────────────────────
        # Posts a FAILED status check on the PR if overall coverage drops
        # below 80%. Wire this into branch protection rules under:
        #   Settings → Branches → master → Require status checks →
        #     "codecov/project" (and the flag-scoped ones below)
        project:
            default:
                target: 80%
                threshold: 1%
                if_ci_failed: error
                if_not_found: success
            server:
                flags:
                    - server
                target: 80%
                threshold: 1%
                if_not_found: success
            client:
                flags:
                    - client
                target: 80%
                threshold: 1%
                if_not_found: success

        # ── Patch-level gate ────────────────────────────────────────────
        # New/changed lines in the PR must be ≥75% covered.
        patch:
            default:
                target: 75%
                threshold: 5%
                if_ci_failed: error
                if_not_found: success

flags:
    server:
        paths:
            - SeventySix.Server/
        carryforward: true
    client:
        paths:
            - SeventySix.Client/src/
        carryforward: true

ignore:
    - "**/*.spec.ts"
    - "**/testing/**"
    - "**/test-results/**"
    - "**/coverage/**"
    - "**/node_modules/**"
    - "**/Migrations/**"
    - "**/generated-open-api.ts"
    - "SeventySix.Client/e2e/**"
    - "SeventySix.Client/load-testing/**"
    - "scripts/**"
    - "docs/**"

# ── PR comment ──────────────────────────────────────────────────────────────
# Posts a coverage summary comment on every PR that changes tested code.
comment:
    layout: "header, reach, diff, flags, components, tree"
    behavior: default
    require_changes: true
    require_base: false
    require_head: true

CI/CD Changes to Github Secrets
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  SeventySix.Server/Dockerfile.production
  SeventySix.Server/SeventySix.Shared/Utilities/DesignTimeConnectionStringProvider.cs
  docs/Deployment.md
Due: server

CI/CD Publish Tracking
  .github/workflows/deploy.yml
  docker-compose.production.yml
  docs/Deployment.md
Due: none

Deploy updates
  .github/workflows/deploy.yml
Due: none

Updated Deploy Settings
  .github/workflows/deploy.yml
  docker-compose.production.yml
Due: none

Fine Tuned Deploys
  SeventySix.Client/nginx.conf
  docker-compose.production.yml
Due: none

Deploy Cleanup
  SeventySix.Client/public/robots.txt
  SeventySix.Client/public/sitemap.xml
  SeventySix.Server/SeventySix.Api/Configuration/ConnectionStringBuilder.cs
  SeventySix.Server/SeventySix.Shared/Constants/ConfigurationSectionConstants.cs
  SeventySix.Server/SeventySix.Shared/Utilities/DesignTimeConnectionStringProvider.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Configuration/ConnectionStringBuilderTests.cs
  docker-compose.production.yml
Due: server

Deploy Fine Tune
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
  SeventySix.Client/src/app/shared/services/client-error-logger.service.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.spec.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
  SeventySix.Server/SeventySix.Api/Middleware/AttributeBasedSecurityHeadersMiddleware.cs
  SeventySix.Server/SeventySix.Shared/Registration/FusionCacheRegistration.cs
Due: server, client

Allowed CDN Icons
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
Due: none

Handling cache ecosystem
  README.md
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
  SeventySix.Server/SeventySix.Api/Middleware/AttributeBasedSecurityHeadersMiddleware.cs
  docs/Deployment.md
  docs/Scaling-Plan.md
Due: server

Code Changes - Hardening
  SeventySix.Client/nginx.conf
  SeventySix.Server/SeventySix.Api/Attributes/SecurityHeadersAttribute.cs
  SeventySix.Server/SeventySix.Api/Middleware/AttributeBasedSecurityHeadersMiddleware.cs
  docs/Deployment.md
Due: server

Altcha HMAC key update
  SeventySix.Server/SeventySix.Domains.Identity/Settings/AltchaSettingsValidator.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/AltchaSettingsValidatorUnitTests.cs
  docs/Deployment.md
Due: server

E2E Test Updates
  SeventySix.Client/e2e/specs/admin/log-management.spec.ts
  SeventySix.Client/e2e/specs/developer/developer-access.spec.ts
Due: none

Format
  SeventySix.Client/e2e/specs/admin/log-management.spec.ts
  SeventySix.Client/e2e/specs/developer/developer-access.spec.ts
Due: none

Lighthouse Scores and Local fontservice
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
  SeventySix.Client/ngsw-config.json
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Client/public/fonts/material-icons/material-icons.woff
  SeventySix.Client/public/fonts/material-icons/material-icons.woff2
  SeventySix.Client/public/fonts/roboto/roboto-latin-300-normal.woff
  SeventySix.Client/public/fonts/roboto/roboto-latin-300-normal.woff2
  SeventySix.Client/public/fonts/roboto/roboto-latin-400-normal.woff
  SeventySix.Client/public/fonts/roboto/roboto-latin-400-normal.woff2
  SeventySix.Client/public/fonts/roboto/roboto-latin-500-normal.woff
  SeventySix.Client/public/fonts/roboto/roboto-latin-500-normal.woff2
  SeventySix.Client/src/app/domains/home/pages/landing-page/landing-page.scss
  SeventySix.Client/src/app/shared/styles/_base.scss
  SeventySix.Client/src/app/shared/styles/_mixins.scss
  SeventySix.Client/src/index.html
  SeventySix.Client/src/styles.scss
Due: client

Lighthouse Update
  SeventySix.Client/scripts/run-lighthouse.mjs
Due: none

Admin Observability
  SeventySix.Client/e2e/specs/home/landing-page.spec.ts
  SeventySix.Client/nginx.conf
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Client/src/environments/environment.ts
  SeventySix.Server/SeventySix.Api/Controllers/V1/AuthController.cs
  SeventySix.Server/SeventySix.Api/SeventySix.Api.csproj
  SeventySix.Server/SeventySix.Domains.Identity/Queries/VerifyAdminSession/VerifyAdminSessionQuery.cs
  SeventySix.Server/SeventySix.Domains.Identity/Queries/VerifyAdminSession/VerifyAdminSessionQueryHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/AdminSeederService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/OAuthService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/AdminSeederSettings.cs
  SeventySix.Server/SeventySix.Domains.Identity/SeventySix.Domains.Identity.csproj
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Services/EmailService.cs
  SeventySix.Server/SeventySix.Domains/SeventySix.Domains.csproj
  SeventySix.Server/SeventySix.Shared/SeventySix.Shared.csproj
  SeventySix.Server/Tests/SeventySix.Analyzers.Tests/SeventySix.Analyzers.Tests.csproj
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/Auth/AuthControllerAuthorizationTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/SeventySix.Api.Tests.csproj
  SeventySix.Server/Tests/SeventySix.ArchitectureTests/SeventySix.ArchitectureTests.csproj
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Queries/VerifyAdminSession/VerifyAdminSessionQueryHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/AdminSeederServiceUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/SeventySix.Domains.Identity.Tests.csproj
  SeventySix.Server/Tests/SeventySix.Domains.Tests/SeventySix.Domains.Tests.csproj
  SeventySix.Server/Tests/SeventySix.Shared.Tests/SeventySix.Shared.Tests.csproj
  SeventySix.Server/Tests/SeventySix.TestUtilities/Constants/ApiEndpoints.cs
  SeventySix.Server/Tests/SeventySix.TestUtilities/SeventySix.TestUtilities.csproj
  docker-compose.production.yml
  docs/Deployment.md
  docs/screenshots/ci-checks-passed.png
Due: server, client

Updates Code QL warnings
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Queries/VerifyAdminSession/VerifyAdminSessionQueryHandlerTests.cs
Due: server

OAuth Changes
  SeventySix.Server/SeventySix.Api/appsettings.json
  docker-compose.production.yml
Due: server

Code QL Updates
  SeventySix.Server/SeventySix.Domains.Identity/Commands/CreateUser/CreateUserCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Commands/UpdateProfile/UpdateProfileCommandHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Commands/UpdateUser/UpdateUserCommandHandler.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/ElectronicNotifications/Emails/EmailServiceTests.cs
Due: server

Final CodeQL update
  SeventySix.Client/e2e/specs/public/forgot-password.spec.ts
  SeventySix.Client/e2e/specs/public/register.spec.ts
  mock-brevo-api/server.js
Due: none

Grafana Updates
  SeventySix.Client/nginx.conf
  SeventySix.Client/ngsw-config.json
  SeventySix.Client/src/app/domains/admin/components/grafana-dashboard-embed/grafana-dashboard-embed.component.html
  SeventySix.Client/src/app/domains/admin/components/grafana-dashboard-embed/grafana-dashboard-embed.component.spec.ts
  SeventySix.Client/src/app/domains/admin/pages/admin-dashboard/admin-dashboard.html
  SeventySix.Server/SeventySix.Api/Middleware/AttributeBasedSecurityHeadersMiddleware.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Middleware/SecurityHeadersTests.cs
Due: server, client

OAuth Dev Flow
  SeventySix.Client/src/app/domains/auth/pages/login/login.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/login/login.ts
  SeventySix.Client/src/app/domains/auth/pages/mfa-verify/mfa-verify.spec.ts
  SeventySix.Client/src/app/domains/auth/pages/mfa-verify/mfa-verify.ts
  SeventySix.Client/src/app/shared/generated-open-api/generated-open-api.ts
  SeventySix.Client/src/app/shared/services/auth.service.oauth.spec.ts
  SeventySix.Client/src/app/shared/services/auth.service.test-helpers.ts
  SeventySix.Client/src/app/shared/services/auth.service.ts
  SeventySix.Client/src/app/shared/services/auth.types.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.spec.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
  SeventySix.Server/SeventySix.Api/Controllers/V1/AuthControllerBase.cs
  SeventySix.Server/SeventySix.Api/Controllers/V1/OAuthController.cs
  SeventySix.Server/SeventySix.Api/Seeders/E2ETestSeeder.cs
  SeventySix.Server/SeventySix.Domains.Identity/Interfaces/IOAuthCodeExchangeService.cs
  SeventySix.Server/SeventySix.Domains.Identity/POCOs/Responses/AuthResponse.cs
  SeventySix.Server/SeventySix.Domains.Identity/POCOs/Results/AuthResult.cs
  SeventySix.Server/SeventySix.Domains.Identity/POCOs/Results/OAuthCodeExchangeResult.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/AdminSeederService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/AuthenticationService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Services/OAuthCodeExchangeService.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Controllers/AuthControllerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/AuthenticationServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Services/OAuthCodeExchangeServiceTests.cs
Due: server, client

OAuth Updates
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
  SeventySix.Server/SeventySix.Api/Controllers/V1/AuthControllerBase.cs
Due: server, client

Handled CodeQL Updates
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
Due: client

Code QL Cleanup
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Services/BrevoApiContracts.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Services/EmailService.cs
Due: server

Durable Scheded Job Tasks
  SeventySix.Client/src/app/domains/admin/components/scheduled-jobs-table/scheduled-jobs-table.component.scss
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
  SeventySix.Client/src/app/shared/styles/_base.scss
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/ScheduledJobHealthCheckService.cs
  SeventySix.Server/SeventySix.Api/Program.cs
  SeventySix.Server/SeventySix.Api/SeventySix.Api.csproj
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/IpAnonymizationJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/OrphanedRegistrationCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/RefreshTokenCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/DatabaseMaintenanceJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/LogCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Shared/BackgroundJobs/RecurringJobService.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/Services/ScheduledJobHealthCheckServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/Jobs/DatabaseMaintenanceJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/Jobs/LogCleanupJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Shared.Tests/BackgroundJobs/RecurringJobServiceTests.cs
Due: server, client

Reverse Proxy work
  SeventySix.Client/nginx-e2e.conf
  SeventySix.Client/nginx.conf
  SeventySix.Server/SeventySix.Api/Middleware/AttributeBasedSecurityHeadersMiddleware.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Middleware/SecurityHeadersTests.cs
  docker-compose.production.yml
Due: server

Improved exception handling
  SeventySix.Client/package-lock.json
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/ScheduledJobHealthCheckService.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/IpAnonymizationJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/OrphanedRegistrationCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/RefreshTokenCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/DatabaseMaintenanceJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/LogCleanupJobHandler.cs
Due: server

Observability Proxies
  SeventySix.Client/nginx.conf
  docker-compose.production.yml
Due: none

Scheduling updates
  SeventySix.Server/SeventySix.Shared/BackgroundJobs/RecurringJobService.cs
  SeventySix.Server/Tests/SeventySix.Shared.Tests/BackgroundJobs/RecurringJobServiceTests.cs
Due: server

Bootstrap Startup changes
  SeventySix.Client/angular.json
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Server/SeventySix.Api/appsettings.Development.json
  SeventySix.Server/SeventySix.Api/appsettings.Production.template.json
  docker-compose.yml
  scripts/bootstrap.ps1
  scripts/bootstrap.sh
  scripts/generate-dataprotection-cert.ps1
  scripts/internal/collect-secrets.ps1
  scripts/start-dev.ps1
Due: server

Removed peer dependency flags
  SeventySix.Client/package-lock.json
Due: none

Altcha updates for update password flows
  SeventySix.Client/e2e/specs/public/login.spec.ts
  SeventySix.Server/SeventySix.Api/Controllers/V1/AltchaController.cs
  docker-compose.production.yml
Due: server

Updates for Production Settings
  SeventySix.Client/README.md
  SeventySix.Client/e2e/specs/public/login.spec.ts
  SeventySix.Client/src/app/domains/admin/logs/components/log-list/log-list.ts
  SeventySix.Client/src/app/domains/admin/permission-requests/pages/permission-request-list/permission-request-list.ts
  SeventySix.Client/src/app/domains/admin/users/components/user-list/user-list.ts
  SeventySix.Client/src/app/domains/auth/pages/forgot-password/forgot-password.ts
  SeventySix.Client/src/app/domains/auth/pages/login/login.ts
  SeventySix.Client/src/app/domains/auth/pages/register-email/register-email.ts
  SeventySix.Client/src/app/shared/components/index.ts
  SeventySix.Client/src/app/shared/constants/auth-events.constants.ts
  SeventySix.Client/src/app/shared/constants/http.constants.ts
  SeventySix.Client/src/app/shared/constants/index.ts
  SeventySix.Client/src/app/shared/constants/oauth-events.constants.ts
  SeventySix.Client/src/app/shared/constants/query-params.constants.ts
  SeventySix.Client/src/app/shared/guards/password-change.guard.ts
  SeventySix.Client/src/app/shared/guards/role.guard.ts
  SeventySix.Client/src/app/shared/interceptors/auth.interceptor.spec.ts
  SeventySix.Client/src/app/shared/interceptors/auth.interceptor.ts
  SeventySix.Client/src/app/shared/interceptors/cache-bypass.interceptor.spec.ts
  SeventySix.Client/src/app/shared/interceptors/cache-bypass.interceptor.ts
  SeventySix.Client/src/app/shared/interceptors/error.interceptor.spec.ts
  SeventySix.Client/src/app/shared/interceptors/error.interceptor.ts
  SeventySix.Client/src/app/shared/services/auth.service.refresh.spec.ts
  SeventySix.Client/src/app/shared/services/auth.service.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.spec.ts
  SeventySix.Client/src/app/shared/services/oauth-flow.service.ts
  SeventySix.Server/SeventySix.Api/Infrastructure/Services/JobChainWatchdogService.cs
  SeventySix.Server/SeventySix.Api/Program.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Infrastructure/Services/JobChainWatchdogServiceTests.cs
  SeventySix.Server/Tests/SeventySix.Api.Tests/Logging/DatabaseLogSinkTests.cs
  docker-compose.override.yml
  docker-compose.production.yml
  docker-compose.yml
Due: server, client

Grafana And CI E2E updates
  SeventySix.Client/e2e/fixtures/helpers/user-create.helper.ts
  SeventySix.Client/e2e/fixtures/timeouts.constant.ts
  SeventySix.Client/e2e/specs/admin/log-management.spec.ts
  SeventySix.Client/e2e/specs/admin/permission-request-list.spec.ts
  SeventySix.Client/e2e/specs/admin/user-create.spec.ts
  SeventySix.Client/e2e/specs/admin/user-detail.spec.ts
  SeventySix.Client/e2e/specs/admin/user-management.spec.ts
  SeventySix.Client/e2e/specs/authenticated/profile.spec.ts
  SeventySix.Client/e2e/specs/public/forced-password-change.spec.ts
  SeventySix.Client/package-lock.json
  SeventySix.Client/package.json
  SeventySix.Client/playwright.config.ts
  docker-compose.production.yml
  docker-compose.yml
  package-lock.json
  package.json
Due: none

Fine Tuning Deploys
  SeventySix.Client/load-testing/scenarios/permissions/request-permission.test.js
  SeventySix.Client/src/app/shared/interceptors/auth.interceptor.spec.ts
  SeventySix.Client/src/app/shared/interceptors/auth.interceptor.ts
  SeventySix.Client/src/app/shared/services/auth.service.retry.spec.ts
  SeventySix.Client/src/app/shared/services/auth.service.ts
  SeventySix.Server/SeventySix.Api/Program.cs
  SeventySix.Server/SeventySix.Api/appsettings.Production.template.json
  SeventySix.Server/SeventySix.Api/appsettings.json
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/OrphanedRegistrationCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Jobs/RefreshTokenCleanupJobHandler.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/OrphanedRegistrationCleanupSettings.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/OrphanedRegistrationCleanupSettingsValidator.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/RefreshTokenCleanupSettings.cs
  SeventySix.Server/SeventySix.Domains.Identity/Settings/RefreshTokenCleanupSettingsValidator.cs
  SeventySix.Server/SeventySix.Domains/ElectronicNotifications/Emails/Jobs/EmailQueueProcessJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/DatabaseMaintenanceJobHandler.cs
  SeventySix.Server/SeventySix.Domains/Logging/Jobs/LogCleanupJobHandler.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Jobs/OrphanedRegistrationCleanupJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Jobs/RefreshTokenCleanupJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Validators/RefreshTokenCleanupSettingsValidatorUnitTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/ElectronicNotifications/Emails/Jobs/EmailQueueProcessJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/Jobs/DatabaseMaintenanceJobHandlerTests.cs
  SeventySix.Server/Tests/SeventySix.Domains.Tests/Logging/Jobs/LogCleanupJobHandlerTests.cs
Due: server, client

.Net Rate Limits on Cloudflare
  SeventySix.Server/SeventySix.Api/appsettings.Production.template.json
  SeventySix.Server/Tests/SeventySix.Domains.Identity.Tests/Jobs/RefreshTokenCleanupJobHandlerTests.cs
  docker-compose.production.yml
  docs/Deployment.md
Due: server
